@typeparam TValue
@implements ISelectContext

@namespace RendrUI.Components.Select

<CascadingValue Value="(ISelectContext)this">
    <div class="relative inline-block w-full">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public TValue Value { get; set; } = default!;

    [Parameter]
    public EventCallback<TValue> ValueChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public bool IsOpen { get; private set; } = false;
    public string? SelectedLabel { get; set; }
    public object? CurrentValue => Value;
    public Type ValueType => typeof(TValue);


    public void SetSelectLabel(string label)
    {
        SelectedLabel = label;
        InvokeAsync(StateHasChanged);
    }

    public async Task ToggleOpen()
    {
        IsOpen = !IsOpen;
        await InvokeAsync(StateHasChanged);
    }

    public async Task Close()
    {
        IsOpen = false;
        await InvokeAsync(StateHasChanged);
    }

    public async Task SelectValue(object value)
    {
        Value = (TValue)value;
        SetSelectLabel(SelectedLabel ?? string.Empty);
        await ValueChanged.InvokeAsync(Value);
        await Close();
    }
}