@typeparam TValue

@namespace RendrUI.Components.Select


<div @attributes="AdditionalAttributes" class="@ClassNames" role="option" @onclick="Select">
    @if (IsSelected)
    {
        <span class="absolute left-2">✓</span>
    }

    <span class="ml-6">
        @ChildContent
    </span>
</div>


@code {
    [CascadingParameter]
    public ISelectContext Root { get; set; } = default!;

    [Parameter]
    public TValue Value { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }



    private bool IsSelected
    {
        get
        {
            if (Root.CurrentValue is TValue currentValue)
            {
                return EqualityComparer<TValue>.Default.Equals(currentValue, Value);
            }
            return false;
        }
    }

    internal string ClassNames
    {
        get
        {
            var additionalClass = string.Empty;
            if (AdditionalAttributes is not null &&
            AdditionalAttributes.TryGetValue("class", out var @class))
            {
                additionalClass = @class.ToString() ?? string.Empty;
            }

            return SelectClasses.BuildItem(additionalClass);
        }
    }


    private string Label => Value?.ToString() ?? "";


    private async Task Select()
    {
        Root.SetSelectLabel(Label);
        await Root.SelectValue(Value!);
    }
}