@page "/"
@using Rendr.UIKit.Components.Button

<PageTitle>Home</PageTitle>

<h1 class="text-red-500 font-bold text-3xl">Hello, world!</h1>


<span class="text-lg font-bold mb-4">Button Samples</span>

<div class="flex flex-col gap-4">
    <Button>Default</Button>
    <Button Variant="ButtonVariant.Secondary">Secondary</Button>
    <Button Variant="ButtonVariant.Destructive">Destructive</Button>
    <Button Disabled>Disabled</Button>
</div>