@namespace RendrUI.Components.Switch

<button @attributes="AdditionalAttributes" type="button" role="switch" class="@TrackClassNames" aria-checked="@Value"
    disabled="@Disabled" @onclick="Toggle">
    <span class="@ThumbClassNames" />
</button>