@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-red-500 font-bold text-3xl">Hello, world!</h1>

<span class="text-lg font-bold mb-4">Button Samples</span>


<a href="/button" class="text-blue-600 underline">
    Go to Button Samples
</a>


<a href="/card" class="text-blue-600 underline">
    Go to Card Samples
</a>

<a href="/navigation-menu" class="text-blue-600 underline">
    Go to NavigationMenu Samples
</a>