@page "/select"
@using RendrUI.Components.Select

<h3>Select Page</h3>



<div class="flex flex-wrap items-center gap-4 md:flex-col">
    <Select TValue="string" @bind-Value="Fruit">

        <SelectTrigger Placeholder="Select fruit" />

        <SelectContent>
            <SelectItem Value="@("apple")">Apple</SelectItem>
            <SelectItem Value="@("banana")">Banana</SelectItem>
            <SelectItem Value="@("orange")">Orange</SelectItem>
        </SelectContent>

    </Select>
</div>

<p>Selected: @Fruit</p>

@code {
    string? Fruit;
}