@namespace RendrUI.Components.Card


<div data-slot="card-header" class="@CssClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Class { get; set; }
    [Parameter]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass =>
    CardClasses.Build(CardType.CardHeader, AdditionalAttributes?["class"]?.ToString());
}