@namespace RendrUI.Components.Card

<div data-slot="card-content" class="@CssClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass =>
    CardClasses.Build(CardType.CardContent, AdditionalAttributes?["class"]?.ToString());
}