@namespace RendrUI.Components.NavigationMenu
@using RendrUI.Components.Components.NavigationMenu
@using RendrUI.Icons


<button @attributes="AdditionalAttributes" class="@CssClass" @onclick="NavigateToHref">
    @ChildContent
    @if (ParentItem is not null && ParentItem.HasContent)
    {
        <svg @attributes="AdditionalAttributes" class="@ChevronClass ml-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="m6 9 6 6 6-6" />
        </svg>
    }
</button>


@code {
    [Inject]
    NavigationManager NavigationManager { get; set; } = null!;

    [CascadingParameter]
    private NavigationMenuItem? ParentItem { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public string Href { get; set; } = string.Empty;

    private string CssClass
    {
        get
        {
            var additionalClass = string.Empty;
            if (AdditionalAttributes is not null &&
            AdditionalAttributes.TryGetValue("class", out var @class))
            {
                additionalClass = @class.ToString() ?? string.Empty;
            }
            return NavigationMenuClasses.Build(NavigationMenuType.NavigationMenuTrigger, additionalClass);
        }
    }

    private string ChevronClass
    {
        get
        {
            var isOpen = ParentItem?.IsOpen ?? false;

            return string.Join(" ",
            "transition-transform duration-200 ease-in-out",
            isOpen ? "rotate-180" : "rotate-0");
        }
    }

    private void NavigateToHref()
    {
        if (!string.IsNullOrEmpty(Href))
        {
            NavigationManager.NavigateTo(Href);
        }
    }

    private void ToggleMenu()
    {
        ParentItem?.ToggleMenu();
    }
}